.full-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.sc-displayer{
    text-align: center;
}

.form-displayer{
    background-color: #c1c1c1;
}

form div{
    margin-bottom: 0.5em;
}

.btn-confirm{
    background-color: #E9862F; 
    color: white;
}

.btn-confirm:hover{
    background-color: #d17728;
    color: white;
}

.btn-confirm:active , .btn-confirm:focus{
    box-shadow:0 0 0 .25rem #E9862F94;
    color: white;
}