{% extends '../base.html' %}

{% block title %}
    Home Manager
{% endblock %}

{% block navbar %}
    {% include '0-manager/navbar-manager.html' %} 
{% endblock %}

{% block content %}
    <div>
        <div class="col-md-6">
            <h1>Bienvenido a la aplicación de agendamiento de turnos de Kairos logistics</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ea ratione perferendis, natus reprehenderit ipsa porro deleniti ducimus, magnam dolorum dolore distinctio. Deserunt, libero recusandae ipsa neque voluptatum iure odio!</p>
          </div>
          <div class="col-md-6">
            <img src="https://via.placeholder.com/500x300" alt="Imagen de ejemplo" class="img-fluid">
          </div>
    </div>
{% endblock %}