{% extends 'base.html' %}

{% block title %}
    Crear usuario
{% endblock %}

<!-- AQUI TOCA ESTABLECER IS SE VA A USAR EL NAVBAR DE MANAGER O DE ADMIN, ASÍ QUE OJO -->

{% block navbar %}
    <!-- IF MANAGER -->
    {% if role == 0 %}
        {% include '0-manager/navbar-manager.html' %} 
    {% endif %}
    <!-- IF ADMIN -->
    {% if role == 1 %}
        {% include '1-admin\navbar-admin.html' %} 
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center py-5">
        <div class="col-12 col-md-9">
            <div class="text-center">
                <h2 >CREAR USUARIOS DENTRO DE LA APP</h2>
            </div>
            <form class="form py-5" method = "POST" actions="">

                {% csrf_token %}

                <div class="form-group">
                    <label class="form__name-label form-label" for="input-name">Agregar el nombre completo del usuario a crear </label>
                    <br>
                    {{form.first_name}}
                </div>
    
                <div class="form-group">
                    <label class="form__surnames-label form-label" for="input-surnames">Agregar los apellidos del usuario a crear</label>
                    <br>
                    {{form.last_name}}
                </div>
    
                <div class="form-group">
                    <label class="form__username-label form-label" for="input-username">Agregue un nombre de usuario</label>
                    <br>
                    {{form.username}}
                </div>
    
                <div class="form-group">
                    <label class="form__rol-label form-label" for="input-rol">Agregue el rol del usuario a crear</label>
                    <br>
                    <select class="form-select" name="rol" required>
                        <option value="0">Gerente</option>
                        <option value="1">Administrador de CVS</option>
                        <option value="2">Asesor comercial</option>
                        <option value="3">Operario</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label class="form__email-label form-label" for="input-email">Agregue el correo del usuario a crear</label>
                    <br>
                    {{form.email}}
                </div>
    
                <div class="form-group">
                    <label class="form__password-label form-label" for="input-password">Agregue la contraseña del usuario a crear</label>
                    <br>
                    {{form.password1}}
                </div>
    
                <div class="form-group">
                    <label class="form__confirm-password-label form-label" for="input-confirm-password">Confirme la contraseña</label>
                    <br>
                    {{form.password2}}
                </div>

                <br>
                <div class="form-group text-center my-0">
                    <button class="form__button btn btn-secondary btn-outline-light btn-lg" type="submit">Enviar</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}