{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'preview.css'%}">
{% endblock %}

{% block title %}
    Reportes
{% endblock %}

<!-- Selecting navbar -->
{% block navbar %}
    <!-- IF MANAGER -->
    {% if role == 0 %}
        {% include '0-manager/navbar-manager.html' %} 
    {% endif %}
    <!-- IF ADMIN -->
    {% if role == 1 %}
        {% include '1-admin\navbar-admin.html' %} 
    {% endif %}
    <!-- IF ADVISER -->
    {% if role == 2 %}
        {% include '2-adviser\navbar-adviser.html' %} 
    {% endif %}
    <!-- IF OPERATOR -->
    {% if role == 3 %}
        {% include '3-operator\navbar-operator.html' %} 
    {% endif %}
{% endblock %}


{% block content %}
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
    <div class="container-fluid">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Fecha del servicio</th>
                    <th scope="col">Hora del servicio</th>
                    <th scope="col">CVS</th>
                    <th scope="col">Número de factura</th>
                    <th scope="col">Cédula del cliente</th>
                    <th scope="col">Nombre del cliente</th>
                    <th scope="col">Télefono del cliente</th>
                    <th scope="col">Servicio prestado</th>
                    <th scope="col">Comentarios del servicio</th>
                    <th scope="col">Tipo de llanta</th>
                    <th scope="col">Cantidad de llantas</th>
                    <th scope="col">¿Hubo rotación?</th>
                    <th scope="col">Cantidad de llantas rotadas</th>
                    <th scope="col">Duración del servicio</th>
                    <th scope="col">Agendado por</th>
                    <th scope="col">Fecha agendamiento</th>
                    <th scope="col">Modificado por</th>
                    <th scope="col">Fecha de modificación</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>chao</td>
                    <td>bueno</td>
                    <td>hola</td>
                </tr>

                <tr>
                    <td>bueno</td>
                    <td>hola</td>
                    <td>chao</td>
                </tr>
            </tbody>
        </table>    
    </div>
</body>
{% endblock %}