{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static '0-report.css'%}">
{% endblock %}

{% block title %}
    Reportes
{% endblock %}

<!-- Selecting navbar -->
{% block navbar %}
    <!-- IF MANAGER -->
    {% if role == 0 %}
        {% include '0-manager/navbar-manager.html' %} 
    {% endif %}
    <!-- IF ADMIN -->
    {% if role == 1 %}
        {% include '1-admin\navbar-admin.html' %} 
    {% endif %}
    <!-- IF ADVISER -->
    {% if role == 2 %}
        {% include '2-adviser\navbar-adviser.html' %} 
    {% endif %}
    <!-- IF OPERATOR -->
    {% if role == 3 %}
        {% include '3-operator\navbar-operator.html' %} 
    {% endif %}
{% endblock %}


{% block content %}

<!--jQuery-->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!--Bootstrap datepicker plugin-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.es.min.js" charset="UTF-8"></script>

<!--Bootstrap multiple select-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>

<div class="bootstrap-iso">
    <div class="container">
        <div class="panel panel-primary panel-dark">
            <div class="panel-heading">FILTROS</div>
            <form method="post">
                {%csrf_token%}
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label fw-bold">CVS</label>
                            <select id="cvsOptions" name="cvsOptions" class="form-control selectpicker" multiple data-live-search="true" placeholder="Seleccione los CVS..." required>
                                {% for cvs in allCvs %}
                                    <option value="{{cvs.name}}">{{ cvs.name }}</option>
                                {% endfor %} 
                            </select>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        
                            <div class="form-group">
                              <label class="control-label fw-bold" for="date">Fecha inicial</label>
                              <input class="form-control" id="startDate" name="dateS" type="date" required/>
                            </div>
                        
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        
                            <div class="form-group">
                                <label class="control-label fw-bold" for="date">Fecha final</label>
                                <input class="form-control" id="endDate" name="dateE" type="date" required/>
                            </div>
                        
                        </div>
                    </div> 
                   
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-secondary btn-outline-light">Generar reporte</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% if preview %}
    <div class="container-fluid">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Fecha del servicio</th>
                    <th scope="col">Hora del servicio</th>
                    <th scope="col">CVS</th>
                    <th scope="col">Número de factura</th>
                    <th scope="col">Cédula del cliente</th>
                    <th scope="col">Nombre del cliente</th>
                    <th scope="col">Télefono del cliente</th>
                    <th scope="col">Servicio prestado</th>
                    <th scope="col">Comentarios del servicio</th>
                    <th scope="col">Tipo de llanta</th>
                    <th scope="col">Cantidad de llantas</th>
                    <th scope="col">¿Hubo rotación?</th>
                    <th scope="col">Cantidad de llantas rotadas</th>
                    <th scope="col">Duración del servicio</th>
                    <th scope="col">Agendado por</th>
                    <th scope="col">Fecha agendamiento</th>
                    <th scope="col">Modificado por</th>
                    <th scope="col">Fecha de modificación</th>
                </tr>
            </thead>

            <tbody>
                {% for q in query %}
                <tr>
                    <td>{{q.date}}</td>
                    <td>{{q.hour}}</td>
                    <td>{{q.cvs.name}}</td>
                    <td>{{q.bill}}</td>
                    <td>{{q.idCustomer}}</td>
                    <td>{{q.nameCustomer}}</td>
                    <td>{{q.telCustomer}}</td>
                    {% if q.done == True %}
                        <td>Si</td>
                    {% else %}
                        {% if q.done == False %}
                            <td>No</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    {% endif %}
                    {% if q.comment %}
                        <td>{{q.comment}}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}

                    {% if q.typeTire == 1 %}
                        <td>Automóvil</td>
                    {% else %}
                        {% if q.typeTire == 2 %}
                            <td>Camioneta</td>
                        {% else %}
                            <td>Camión</td>
                        {% endif %}
                    {% endif %}
                    <td>{{q.quantity}}</td>
                    {% if q.rotation == True %}
                        <td>Si</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    <td>{{q.quantityRotate}}</td>
                    <td>{{q.duration}}</td>
                    <td>{{q.scheduledBy.user.username}}</td>
                    <td>{{q.dateScheduled.date}}</td>
                    <td>{{q.modifiedBy.user.username}}</td>
                    <td>{{q.dateModified.date}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>    
    </div>
    <div style="display: flex; justify-content: center;">
        <form action="{% url 'excel' %}" method="post">
            {%csrf_token%}
            <!-- info to keep -->
            <input type="hidden" name="cvsList" value="{{cvsList}}">
            <input type="hidden" name="initialDate" value="{{initialDate}}">
            <input type="hidden" name="finalDate" value="{{finalDate}}">
            <button type="submit" class="btn btn-secondary btn-outline-light">Descargar</button>
        </form>
    </div>

{% endif %}

<br>

{% endblock %}

