{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'schedules.css'%}">
{% endblock %}

{% block title %}
    Ver horarios
{% endblock %}

<!-- Selecting navbar -->
{% block navbar %}
    <!-- IF MANAGER -->
    {% if role == 0 %}
        {% include '0-manager/navbar-manager.html' %} 
    {% endif %}
    <!-- IF ADMIN -->
    {% if role == 1 %}
        {% include '1-admin\navbar-admin.html' %} 
    {% endif %}
    <!-- IF ADVISER -->
    {% if role == 2 %}
        {% include '2-adviser\navbar-adviser.html' %} 
    {% endif %}
    <!-- IF OPERATOR -->
    {% if role == 3 %}
        {% include '3-operator\navbar-operator.html' %} 
    {% endif %}
{% endblock %}

{% block content %}
    <!-- section to select the cvs -->
    <form style="margin: 5em 2em;" action="{% url 'see_schedules' %}" method="post">
        {%csrf_token%}
        <h2>Selección de horario</h2>
        <div class="form-floating">
            <select class="form-select" id="cvsName" name="cvsName" aria-label="select cvs">
                <option selected>{{cvsName}}</option><!--for this item we cannot put accents - or change BBDD-->
                {% for cvs in listCVSs %}
                <option value="{{cvs}}">{{cvs}}</option>
                {% endfor %}
            </select>
            <label for="cvsName">Estamos viendo el horario de:</label>
        </div>
        <button type="submit" class="ms-2 mt-2 btn btn-secondary btn-outline-light position-absolute end-50">Ver</button>
    </form>
    <hr>
    <!-- section to see the schedule -->
    {% if cvsName %} 
        {% include 'base_schedule.html' %}
    {% endif %}
{% endblock %}