{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'schedules.css'%}">
<link rel="stylesheet" href="{% static 'sel_mod_turns.css'%}">
{% endblock %}

{% block title %}
    Asignar turnos
{% endblock %}

{% block content %}
    <div class="full-container">
        {% include 'btnResponsive.html' %}
        <div class="sc-displayer" id="sc-displayer">
            <h2>Previsualización del horario</h2>
            {% if cvsName %} 
                {% include 'base_schedule.html' %}
            {% endif %}
        </div>
        <div class="form-displayer" id="form-displayer">
            <!-- section to change the cvs -->
            <form style="margin: 2em;" action="{% url 'time_turns' %}" method="post">
                {%csrf_token%}
                <!-- info to keep -->
                <input type="hidden" name="typeTire" value="{{typeTire}}">
                <input type="hidden" name="quantity" value="{{quantity}}">
                <input type="hidden" name="rotation" value="{{rotation}}">
                <input type="hidden" name="quantityRotate" value="{{quantityRotate}}">
                <!-- section to select the cvs -->
                <h2>Cambio de cvs</h2>
                <div class="form-floating">
                    <select class="form-select" id="cvsName" name="cvsName" aria-label="change cvs">
                        <option selected>{{cvsName}}</option><!--for this item we cannot put accents - or change BBDD-->
                        {% for cvs in listCVSs %}
                        <option value="{{cvs}}">{{cvs}}</option>
                        {% endfor %}
                    </select>
                    <label for="cvsName">Visualizando horario de:</label>
                </div>
                <div style="display: flex;justify-content: end;">
                    <button type="submit" class="btn btn-secondary btn-outline-light ">Cambiar</button>
                </div>
            </form>
            <hr>
            <div class="card" style="margin: 0 2em;">
                <div class="card-body">
                    <h5 class="card-title">Horarios recomendados</h5>
                    <p class="card-text" style="background-color: #E9862F; color: white; text-shadow: 0 0 2px black ; border-radius: 5px; padding: 5px;">El tiempo calculado fue de {{duration}} minutos</p>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Recuerde que el tiempo calculado ya incluye los 5 minutos de descanso del operario</h6>
                    <!-- content space for the recommendations -->
                    <ul>
                        {% for reco in recommendations %}
                        <li>{{reco}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div style="margin: 0.5em 2em; display: flex; flex-direction: row-reverse; justify-content: space-between; flex-wrap: wrap;">
                <form action="{% url 'select_turns' %}" method="post">
                    {%csrf_token%}
                    <!-- info to keep -->
                    <input type="hidden" name="cvsName" value="{{cvsName}}">
                    <input type="hidden" name="typeTire" value="{{typeTire}}">
                    <input type="hidden" name="quantity" value="{{quantity}}">
                    <input type="hidden" name="rotation" value="{{rotation}}">
                    <input type="hidden" name="quantityRotate" value="{{quantityRotate}}">
                    <input type="hidden" name="duration" value="{{duration}}">
                    <button type="submit" class="btn btn-secondary btn-outline-light">Continuar</button>
                </form>
                <form action="{% url 'asign_turns' %}" method="post">
                    {%csrf_token%}
                    <!-- info to keep -->
                    <input type="hidden" name="cvsName" value="{{cvsName}}">
                    <button type="submit" class="btn btn-secondary btn-outline-light">Volver</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}