{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'schedules.css'%}">
<link rel="stylesheet" href="{% static 'sel_mod_turn.css'%}">
<script src="{% static 'hide.js'%}"></script>
{% endblock %}

{% block title %}
    Asignar turnos
{% endblock %}

<!-- Selecting navbar -->
{% block navbar %}
    <!-- IF MANAGER -->
    {% if role == 0 %}
        {% include '0-manager/navbar-manager.html' %} 
    {% endif %}
    <!-- IF ADMIN -->
    {% if role == 1 %}
        {% include '1-admin\navbar-admin.html' %} 
    {% endif %}
    <!-- IF ADVISER -->
    {% if role == 2 %}
        {% include '2-adviser\navbar-adviser.html' %} 
    {% endif %}
    <!-- IF OPERATOR -->
    {% if role == 3 %}
        {% include '3-operator\navbar-operator.html' %} 
    {% endif %}
{% endblock %}

{% block content %}
    <div class="full-container">
        <div class="sc-displayer">
            <h2>Previsualización del horario</h2>
            {% if cvsName %} 
                {% include 'base_schedule.html' %}
            {% endif %}
        </div>
        <div class="form-displayer">
            <!-- section to select the cvs -->
            <form style="margin: 2em;" action="{% url 'asign_turns' %}" method="post">
                {%csrf_token%}
                <h2>Selección de CVS</h2>
                <div class="form-floating">
                    <select class="form-select" id="sc-select" name="cvsName" aria-label="select cvs">
                        <option selected>{{cvsName}}</option><!--for this item we cannot put accents - or change BBDD-->
                        {% for cvs in listCVSs %}
                        <option value="{{cvs}}">{{cvs}}</option>
                        {% endfor %}
                    </select>
                    <label for="sc-select">Visualizando horario de:</label>
                </div>
                <div style="display: flex;justify-content: end;">
                    <button type="submit" class="btn btn-secondary btn-outline-light ">Ver</button>
                </div>
                
            </form>
            {% if cvsName %} 
            <hr>
                <!-- section to select the service -->
            <form style="margin: 2em;" action="{% url 'time_turns' %}" method="post">
                {%csrf_token%}
                <!-- info to keep -->
                <input type="hidden" name="cvsName" value="{{cvsName}}">
                <!-- service information -->
                <h2>Datos del servicio</h2>
                <div class="form-floating">
                    <select class="form-select" id="typeTire" name="typeTire" aria-label="select type tire" required>
                        <option selected></option>
                        <option value="1">Automóvil</option>
                        <option value="2">Camioneta</option>
                        <option value="3">Camión</option>
                    </select>
                    <label for="typeTire">Tipo de llanta</label>
                </div>
                <div class="form-floating">
                    <input class="form-control" type="number" name="quantity" id="quantity" min="1" step="1" required>
                    <label for="quantity">Cantidad llantas</label>
                </div>                   
                <div>
                    <input class="form-check-input" type="checkbox" name="rotation" value="on" id="rotation" onclick="hideShow(this,'quantityRotate','label-quantityRotate')">
                    <label class="form-check-label" for="rotation">Rotación</label>
                </div>
                <div class="form-floating" >
                    <input class="form-control" type="number" name="quantityRotate" id="quantityRotate" style="display: none;" value="1" min="0" step="1" required>
                    <label for="quantityRotate" id="label-quantityRotate" style="display: none;">Cantidad llantas</label>
                </div>
                <div style="display: flex; justify-content: end;">
                    <button type="submit" class="btn btn-secondary btn-outline-light">Continuar</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}