{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'sel_mod_turns.css'%}">
<script src="{% static 'hide.js'%}"></script>
{% endblock %}

{% block title %}
    Validar turnos
{% endblock %}

<!-- Selecting navbar -->
{% block navbar %}
    <!-- IF MANAGER -->
    {% if role == 0 %}
        {% include '0-manager/navbar-manager.html' %} 
    {% endif %}
    <!-- IF ADMIN -->
    {% if role == 1 %}
        {% include '1-admin\navbar-admin.html' %} 
    {% endif %}
    <!-- IF ADVISER -->
    {% if role == 2 %}
        {% include '2-adviser\navbar-adviser.html' %} 
    {% endif %}
    <!-- IF OPERATOR -->
    {% if role == 3 %}
        {% include '3-operator\navbar-operator.html' %} 
    {% endif %}
{% endblock %}

{% block content %}

    <div class="form-displayer-modify">
        <form style="margin:  2em;" action="{% url 'confirm_validation' %}" method="post">
            {%csrf_token%}
            <!-- info to keep -->
            <input type="hidden" name="idTurn" value="{{idTurn}}">
            <!-- Data for the service -->
            <h2>Datos del servicio</h2>
            <div class="form-floating">
                <input class="form-control" type="text" name="cvsName" id="cvsName" value="{{cvsName}}" required readonly>
                <label for="cvsName">Nombre CVS</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="text" name="typeTire" id="typeTire" value="{{typeTireName}}" required readonly>
                <label for="typeTire">Tipo de llanta</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="number" name="quantity" id="quantity" value="{{quantity}}" min="1" step="1" required readonly>
                <label for="quantity">Cantidad llantas del servicio</label>
            </div>
            {% if rotation %}
            <div class="form-floating">
                <input class="form-control" type="text" name="rotation" id="rotation" value="Si" required readonly>
                <label for="rotation">Rotación</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="number" name="quantityRotate" id="quantityRotate" value="{{quantityRotate}}" min="0" step="1" required readonly>
                <label for="quantityRotate">Cantidad llantas a rotar</label>
            </div>
            {% else %}
            <div class="form-floating">
                <input class="form-control" type="text" name="rotation" id="rotation" value="No" required readonly>
                <label for="rotation">Rotación</label>
            </div>
            {% endif %}
            <div class="form-floating">
                <input class="form-control" type="number" name="duration" id="duration" value="{{duration}}" min="5" step="1" required readonly>
                <label for="duration">Duración del servicio</label>
            </div>
            <h2>Fecha y hora</h2>
            <div class="form-floating">
                <input class="form-control" type="date" name="date" id="date" value="{{date}}" max="{{maxDate}}" required readonly>
                <label for="date">Fecha</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="time" name="hour" id="hour" value="{{hour}}" min="07:45" max="17:15" required readonly>
                <label for="hour">Hora</label>
            </div>
            <h2>Información de la venta</h2>
            <div class="form-floating">
                <input class="form-control" type="number" name="bill" id="bill" value="{{bill}}" min="0" step="1" required readonly>
                <label for="bill">Número factura</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="number" name="idCustomer" id="idCustomer" value="{{idCustomer}}" min="0" step="1" required readonly>
                <label for="idCustomer">Cédula cliente</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="text" name="nameCustomer" id="nameCustomer" value="{{nameCustomer}}" maxlength="50" required readonly>
                <label for="nameCustomer">Nombre cliente</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="text" name="telCustomer" id="telCustomer" value="{{telCustomer}}" maxlength="15" required readonly>
                <label for="telCustomer">Teléfono de contacto</label>
            </div>
            <h2>Validación del turno</h2>
            {% if done %}
            <div class="">
                <input class="form-check-input" type="checkbox" name="done" id="done" value="{{done}}" checked>
                <label class="form-check-label" for="done">El turno fue realizado</label>
            </div>
            {% else %}
            <div class="">
                <input class="form-check-input" type="checkbox" name="done" id="done" value="{{done}}" >
                <label class="form-check-label" for="done">El turno fue realizado</label>
            </div>
            {% endif %}
            {% if comment %}
            <div class="input-group">
                <label class="input-group-text" for="comment">Comentarios anteriores sobre el servicio</label>
                <textarea class="form-control" type="text" name="comment" id="comment" required readonly>{{comment}}</textarea>
            </div>
            <div class="input-group">
                <label class="input-group-text" for="newComment">Si desea añadir comentarios sobre el servicio por favor escriba acá</label>
                <textarea class="form-control" type="text" name="newComment" id="newComment" maxlength="{{maxComment}}" required></textarea>
            </div>
            {% else %}
            <div class="input-group">
                <label class="input-group-text" for="newComment">Comentarios sobre el servicio</label>
                <textarea class="form-control" type="text" name="newComment" id="newComment" maxlength="480" required></textarea>
            </div>
            {% endif %}
            <!-- start confirm modal -->
            <div style="display: flex; justify-content: center; gap: 1em; flex-wrap: wrap;">
                <!-- Button trigger modal -->
                <button type="button" class="mt-2 btn btn-secondary btn-outline-light" data-bs-toggle="modal" data-bs-target="#confirm_modal">
                    Guardar
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="confirm_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirm_modal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmación de validación</h1>
                            </div>
                            <div class="modal-body">
                            <p>¿Está seguro que desea confirmar el turno con la información actual?</p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-confirm">Validar</button>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- end confirm modal -->
        </form>
        </div><!--div to flex the buttons-->
    </div>
{% endblock %}