{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <!-- Styles for all -->
    <link rel="stylesheet" href="{% static 'forAll.css'%}">
    {% block styles %}
        
    {% endblock %}
    <title>
    {% block title %}
        
    {% endblock %}
    </title>
</head>
<body class="d-flex flex-column min-vh-100">
    {% block navbar %}

    {% endblock %}

    {% for message in messages %}
        <div class="m-0 alert alert-dismissible alert-warning d-flex justify-content-center" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    
    {% block content %}

    {% endblock %}
    
    <footer class="text-center text-lg-start mt-auto">
      <div style="background-color: #fafafa;">
        <div class="container p-4">
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0 tex t-center">
              <h5 class="text-uppercase">Kairos Logistics</h5>
              <p>
                Somos una marca de Autofax SA, empresa con más de 35 años de experiencia en el mercado de llantas en Colombia. Somos importadores exclusivos de importantes marcas como Linglong, Goldshield, Otani, Speedways, Durtek, Raptor y Armour, así como comercializadores de las marcas Bridgestone y Firestone
              </p>
            </div>
      
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-center">
              <h5 class="text-uppercase mb-0">Links</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="https://www.facebook.com/eligellantascolombia/" class="text-dark">Facebook</a>
                </li>
                <li>
                  <a href="https://www.instagram.com/eligellantascolombia/" class="text-dark">Instagram</a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UCKdhIojeYCCOSrGagOxi4ow" class="text-dark">YouTube</a>
                </li>
                <li>
                  <a href="https://eligellantas.com/sobre-nosotros/" class="text-dark">Elige llantas</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Kairos Logistics
        </div>
    </footer>      
</body>
</html>
