    <!-- <style>
    a.bookmark{
        position: absolute;
        padding: 2.5%;
        margin: 5px;
        width: 3em;
        height: 3em;
        
        display: flex;
        align-items: center;
        justify-content: center;

        color: white;
        background-color: rgba(233, 134, 47, 0.5);
    }
    
    a.bookmark:hover, a.bookmark:active{
        background-color: rgb(233, 134, 47);
        cursor: pointer;
    }

    #btn-up{
        top: 0;
        right: 0;
        
        border-radius: 3px 3px 0 0;
    }
    
    #btn-down{
        top: 3em;
        right: 0;

        border-radius:  0 0 3px 3px;
    }
    </style> -->
    <a href="#form-displayer" class="bookmark" id="btn-up"><i class="bi bi-pencil-square"></i></a>
    <a href="#sc-displayer" class="bookmark" id="btn-down"><i class="bi bi-calendar3"></i></a>
